# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [5]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats
import xlsxwriter

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [7]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secret import IEX_CLOUD_API_TOKEN

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [14]:
symbol='AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data=requests.get(api_url).json()
da

{'companyName': 'Apple Inc',
 'marketcap': 2603621143396,
 'week52high': 163.72,
 'week52low': 112.9,
 'week52highSplitAdjustOnly': 161.28,
 'week52lowSplitAdjustOnly': 113.4,
 'week52change': 0.3373532546822834,
 'sharesOutstanding': 16998805738,
 'float': 0,
 'avg10Volume': 80619521,
 'avg30Volume': 73124585,
 'day200MovingAvg': 141.33,
 'day50MovingAvg': 151.01,
 'employees': 147567,
 'ttmEPS': 11.35,
 'ttmDividendRate': 0.874575708827271,
 'dividendYield': 0.005599472353052882,
 'nextDividendDate': '2021-10-23',
 'exDividendDate': '2021-07-23',
 'nextEarningsDate': '2022-01-17',
 'peRatio': 13.560818354550138,
 'beta': 0,
 'maxChangePercent': 59.20750699861879,
 'year5ChangePercent': 5.053955461048672,
 'year2ChangePercent': 1.456410007573764,
 'year1ChangePercent': 0.3883313556730061,
 'ytdChangePercent': 0.15334691196854713,
 'month6ChangePercent': 0.1502004025342139,
 'month3ChangePercent': 0.02980084891715989,
 'month1ChangePercent': 0.06487406564896118,
 'day30ChangePercent': 0.09222324066289586,
 'day5ChangePercent': 0.01789293904810616}

In [15]:
data['year1ChangePercent']

0.3883313556730061

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [16]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [21]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker    Price One-Year Price Return Number of Shares to Buy
0        A  159.180              0.489451                     N/A
1      AAL   20.870              0.853099                     N/A
2      AAP  233.510              0.490399                     N/A
3     AAPL  157.700               0.39724                     N/A
4     ABBV  117.570              0.413099                     N/A
..     ...      ...                   ...                     ...
500    YUM  130.820              0.307168                     N/A
501    ZBH  144.280              0.101904                     N/A
502   ZBRA  598.070              0.835012                     N/A
503   ZION   66.070              0.974406                     N/A
504    ZTS  217.202              0.309177                     N/A

[505 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [38]:
final_dataframe=final_dataframe.sort_values("One-Year Price Return",ascending=False,ignore_index=True).head(50)
display(final_dataframe)

   Ticker    Price One-Year Price Return Number of Shares to Buy
0     DVN   42.426              3.565635                     N/A
1    FANG  114.100                3.1869                     N/A
2     MRO   17.260              3.078583                     N/A
3     OXY   33.780              2.596034                     N/A
4      LB   80.170              2.377803                     N/A
5    FTNT  349.360              2.021179                     N/A
6    MCHP   83.240              1.963206                     N/A
7    COTY    9.203              1.919621                     N/A
8     ALB  275.560              1.751798                     N/A
9     SPG  170.200              1.746586                     N/A
10    KSS   58.420              1.695373                     N/A
11    EOG   92.640              1.681566                     N/A
12    COP   73.640              1.625573                     N/A
13   SIVB  749.480              1.474137                     N/A
14    WFC   52.362              1.455931                     N/A
15    OKE   64.020              1.436023                     N/A
16      F   20.212              1.430848                     N/A
17    PXD  188.390              1.402687                     N/A
18     IT  333.430              1.373638                     N/A
19   AMAT  150.040              1.369389                     N/A
20    MOS   39.110              1.359155                     N/A
21    NUE  115.430              1.303084                     N/A
22    HES   86.010                1.2963                     N/A
23    MGM   48.560              1.284625                     N/A
24    KIM   24.690              1.264317                     N/A
25    RHI  120.400              1.261674                     N/A
26     CF   58.990              1.248404                     N/A
27    AIV    8.010              1.233422                     N/A
28     GS  420.910              1.179185                     N/A
29    SLB   33.070              1.161845                     N/A
30    LNC   74.517              1.143475                     N/A
31   ANET  539.521              1.109836                     N/A
32    LLY  275.370              1.107158                     N/A
33    REG   76.110              1.103703                     N/A
34    MPC   64.974              1.102531                     N/A
35     MS   99.830              1.089084                     N/A
36   NVDA  307.520              1.074424                     N/A
37    FCX   38.814              1.066726                     N/A
38    XOM   64.770              1.059908                     N/A
39    VLO   75.960              1.056284                     N/A
40   CBRE  106.970               1.04884                     N/A
41    COF  160.080              1.024993                     N/A
42    BAC   48.985              1.000374                     N/A
43    TXT   76.830              0.997337                     N/A
44   NTAP   93.440               0.99518                     N/A
45   SCHW   82.000              0.991319                     N/A
46    IVZ   26.800               0.97818                     N/A
47    LYV  108.750              0.975071                     N/A
48   ZION   66.070              0.974406                     N/A
49    BEN   37.550              0.972876                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [39]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")
    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:100000
100000

In [44]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

   Ticker    Price One-Year Price Return Number of Shares to Buy
0     DVN   42.426              3.565635                      47
1    FANG  114.100                3.1869                      17
2     MRO   17.260              3.078583                     115
3     OXY   33.780              2.596034                      59
4      LB   80.170              2.377803                      24
5    FTNT  349.360              2.021179                       5
6    MCHP   83.240              1.963206                      24
7    COTY    9.203              1.919621                     217
8     ALB  275.560              1.751798                       7
9     SPG  170.200              1.746586                      11
10    KSS   58.420              1.695373                      34
11    EOG   92.640              1.681566                      21
12    COP   73.640              1.625573                      27
13   SIVB  749.480              1.474137                       2
14    WFC   52.362              1.455931                      38
15    OKE   64.020              1.436023                      31
16      F   20.212              1.430848                      98
17    PXD  188.390              1.402687                      10
18     IT  333.430              1.373638                       5
19   AMAT  150.040              1.369389                      13
20    MOS   39.110              1.359155                      51
21    NUE  115.430              1.303084                      17
22    HES   86.010                1.2963                      23
23    MGM   48.560              1.284625                      41
24    KIM   24.690              1.264317                      81
25    RHI  120.400              1.261674                      16
26     CF   58.990              1.248404                      33
27    AIV    8.010              1.233422                     249
28     GS  420.910              1.179185                       4
29    SLB   33.070              1.161845                      60
30    LNC   74.517              1.143475                      26
31   ANET  539.521              1.109836                       3
32    LLY  275.370              1.107158                       7
33    REG   76.110              1.103703                      26
34    MPC   64.974              1.102531                      30
35     MS   99.830              1.089084                      20
36   NVDA  307.520              1.074424                       6
37    FCX   38.814              1.066726                      51
38    XOM   64.770              1.059908                      30
39    VLO   75.960              1.056284                      26
40   CBRE  106.970               1.04884                      18
41    COF  160.080              1.024993                      12
42    BAC   48.985              1.000374                      40
43    TXT   76.830              0.997337                      26
44   NTAP   93.440               0.99518                      21
45   SCHW   82.000              0.991319                      24
46    IVZ   26.800               0.97818                      74
47    LYV  108.750              0.975071                      18
48   ZION   66.070              0.974406                      30
49    BEN   37.550              0.972876                      53

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [47]:
hqm_columns = [
                'Ticker', 
                'Price', 
                'Number of Shares to Buy', 
                'One-Year Price Return', 
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   'N/A',
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = hqm_columns), 
                                        ignore_index = True)
        
hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

In [49]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'], hqm_dataframe.loc[row, f'{time_period} Price Return'])/100

# Print each percentile score to make sure it was calculated properly
for time_period in time_periods:
    print(hqm_dataframe[f'{time_period} Return Percentile'])

#Print the entire DataFrame    
hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'

In [50]:
stats.percentileofscore?

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

## Saving Our Excel Output

As before, saving our Excel output is very easy: